<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

<html>
	<head>
		<title>WebROaR - Admin Panel</title>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag :defaults %>
		<script>
		<!--
			var browserName=navigator.appName; 
			if (browserName=="Netscape")
			{ 
				 document.write('<%= stylesheet_link_tag 'netscape/login.css' %>'); 
			}
			 else
			  {
				 document.write('<%= stylesheet_link_tag 'other/login.css' %>'); 
			   }
			function setFocus()
      {
        $('user_name').focus();
      } 
		//-->
		</script>
    <%= link_tag("/favicon.ico", :rel => "shortcut icon") %>
	</head>
	<body onload = 'setFocus();'>
		<table width = 100% height = 100%>
			<tr align = center>
				<td>
					<%=yield%>
				</td>
			</tr>
		</table> 
	</body> 
	<head>
		<META HTTP-EQUIV = "PRAGMA" CONTENT = "NO-CACHE">
	</head>
</html>
