 <!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->
<%app_id = @app_id || 0 %>
<%=render :partial => 'javascript_partial', :locals => {:count => 'first', :start_hour => @start_hour, :end_hour => @end_hour,:app_id => app_id, :type => "avg_res_time_graph"}%>
<%=render :partial => 'javascript_partial', :locals => {:count => 'second', :start_hour => @start_hour, :end_hour => @end_hour, :app_id => app_id, :type => "app_throughput_graph"}%>
<%= render :partial => 'query_date', :locals => {:graph_id => 3, :update_div => 'throughput_graph', :submit_action => 'throughput_graph'} %>

<%# this section is for Ploting average response time Graph for an application%>
<div id = 'avg_res_time_graph' class = 'graph_div'>
	<%=@avg_res_time_graph%>
</div>
<br/><br/>
<%=render :partial => 'slider_partial', :locals => {:count => 'first'}%>

<hr>	
<br/>
<%# this section is for Ploting throughput Graph for an application%>
<div id='app_throughput_graph' class='graph_div'>
	<%=@app_throughput_graph%>
</div>
<br/><br/>
<%=render :partial => 'slider_partial', :locals => {:count => 'second'}%>
