<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->
<%= calendar_date_select_includes "red" %>
<% CalendarDateSelect.format = :natural %>
<div id = 'container_graphs_data'>
	<br/>
	<div id = "page_name">
		<%=image_tag("tit_analytics_ad.gif", :border => '0')%>
	</div>
	<div id = 'reload'>Select Application: <%=select :application, :name, @apps, :selected => @application_name%></div>
	<%if @apps.size == 1%>
		<div style = "width:98%;color:#3C5C97;text-align:right;"><%=NO_APPLICATION_FOR_ANALYTICS%></div>
	<%end%>
	<div id = 'graph_div'>
		 <%=render :partial=>'graph_page'%>
	</div>
	<br>
	<%= observe_field 'application_name', :update => 'graph_div', :url => { :action => 'get_next_app' }, :with => 'application_name'%>
</div>
  <script>
    checkFlashPlayer();
  </script>



