<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->


<%remote_form_for :data, :url => {:controller => 'headers', :action => 'save_expires_by_type_value' } do %>

  <table width = 95% cellpadding = "4"> 
	   <% if @error_message %>
	     <tr>
	     <td colspan = 3 class = 'BG_white'><span id='error_div'><%= @error_message %></td>	</span>			
			 </tr>				
	   <% end%> 
		<tr>
      <td width = 40% class = 'BG_white'>
      	<span style = "height:20px;float:left">
        Extension&nbsp;&nbsp;&nbsp;<span class = 'help_link'><%=link_to_function "Help", :onclick => "addHelp('expires_by_type_ext',event)" %></span>
				&nbsp;&nbsp;&nbsp;
				<%=text_field :data, :ext, :size => '20' %>
				</span>
            <br/>
            <div id = 'expires_by_type_ext' class = 'font_size_12'>
            </div>
			
      </td>
      <td width = 40% class = 'BG_white'>
      	<span style = "height:20px;float:left">
        Expires&nbsp;&nbsp;&nbsp;<span class = 'help_link'><%=link_to_function "Help", :onclick => "addHelp('expires_by_type_expires_value',event)" %></span>
				&nbsp;&nbsp;&nbsp;
				<%=text_field :data, :expires, :size => '10' %>
				</span>
            <br/>
            <div id = 'expires_by_type_expires_value' class = 'font_size_12'>
            </div>
      </td>
      <td width = 20% class = 'BG_white'>
      	<span style = "height:20px;float:left">
        <%=submit_tag 'Save' %>
			 <%=button_to_remote 'Cancel', :update => 'expires_by_type_form', :url => {:controller => 'headers', :action => 'cancel_expires_by_type_value'} %>	    
        <%end %>  
				</span>
      </td>
    </tr>
	</table>	

    
	
    

