<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

<%remote_form_for :data, :html => { :onsubmit => 'if(!validate_expire_by_type(this)){return false;}'} , :url => {:controller => 'headers', :action => 'save_expires_by_type_value' } do %>
  <table width = 100% >
    <tr>
      <td colspan = 3 id='error_div_expire_by_type' style="padding:0px;"><% if @error_message %><%= @error_message %><% end%></td>
    </tr>
    <tr>
      <td width = 40% >
        Extension&nbsp;&nbsp;&nbsp;<%=link_to_function "Help", :onclick => "addHelp('expires_by_type_ext',event)" %>&nbsp;&nbsp;&nbsp;
        <%=text_field :data, :ext, :size => '15' %>
      </td>
      <td width = 40% >
        Expires&nbsp;&nbsp;&nbsp;<%=link_to_function "Help", :onclick => "addHelp('expires_by_type_expires_value',event)" %>&nbsp;&nbsp;&nbsp;
        <%=text_field :data, :expires, :size => '10' %>
      </td>
      <td width = 20% >      	
        <%=submit_tag 'Save' %>
        <%=button_to_remote 'Cancel', :update => 'expires_by_type_form', :url => {:controller => 'headers', :action => 'cancel_expires_by_type_value'} %>	    
      </td>
    </tr>
	</table>	
<%end %>
    
	
    

