<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

<%if @exceptions.size >0 %>
<% if current_status == OPEN_EXCEPTION %>
  <h3><center> Open Exceptions</center></h3>
<% elsif current_status == CLOSED_EXCEPTION %>
  <h3><center> Closed Exceptions</center></h3>
<% elsif current_status == IGNORED_EXCEPTION %>
  <h3><center> Ignored Exceptions</center></h3> 
<% end %> 
<% form_tag '', :id => 'form_exception_list' do -%>
<table width = 90% cellpadding = 5px>
    <tr>
    	<td class = 'table_header' width = 1%> <%= check_box_tag 'check_all', 'check_all', false, :onclick =>'checkall(this)' %> </td>
      <td class = 'table_header' width = 39%>Exception</td>
      <td class = 'table_header' width = 20%>Class</td>
      <td class = 'table_header' width = 20%>URL</td>  
      <td class = 'table_header' width = 2%>Occurrences</td>
      <td class = 'table_header' width = 18%>Time</td>      
    </tr>
  <%@exceptions.each do |exception|%>
    <tr id="exception_<%= exception.id %>">
    	<td> <%= check_box_tag 'exception_ids[]', exception.id %> </td>
      <td><%= link_to_remote "#{h truncate(exception.exception_message, :length => 80)}", :update => 'data_div', :url => {:controller => 'exceptions', :action => 'show', :id => exception.id, :app_name => @application_name, :status_name => status_name, :page => @exceptions.current_page} %> </td>
      <td><%=h exception.exception_class%></td>
      <td><%=h exception.controller%>/<%=exception.method%></td>
      <td><%=h exception.count%></td>
      <td><%=h exception.wall_time.strftime("%d-%b-%Y %H:%M:%S")%></td>
    </tr>
  <%end%>
<% end -%>
    <tr>
    	<td colspan = 6>
    		<b>Take Action:</b>
				<% unless current_status == OPEN_EXCEPTION %>
				  <b><%=link_to_remote 'Reopen', :condition => "checkMarked()", :url => {:controller => 'exceptions', :action => 'change_status', :status_name => "open", :current_status => status_name, :app_name => @application_name, :page => @exceptions.current_page }, :submit => 'form_exception_list', :method => :put  %></b>
				<% end %>
				<% unless current_status == CLOSED_EXCEPTION %> 
				  <b><%=link_to_remote 'Close', :condition => "checkMarked()", :url => {:controller => 'exceptions', :action => 'change_status', :status_name => "close", :current_status => status_name, :app_name => @application_name, :page => @exceptions.current_page }, :submit => 'form_exception_list', :method => :put  %></b>
			  <% end %>
				<% unless current_status == IGNORED_EXCEPTION %>
				<b><%=link_to_remote 'Ignore', :condition => "checkMarked()", :url => {:controller => 'exceptions', :action => 'change_status', :status_name => "ignore", :current_status => status_name, :app_name => @application_name, :page => @exceptions.current_page }, :submit => 'form_exception_list', :method => :put  %></b>
				<% end %>
				<%#=link_to_remote 'Delete', :condition => "checkMarked('delete')", :url => {:controller => 'exceptions', :action => 'change_status', :status_name => "delete", :current_status => status_name, :app_name => @application_name, :page => @exceptions.current_page }, :submit => 'form_exception_list', :method => :put  %>
    	</td>
	  </tr>
    <tr>
      <td colspan = 6>        	
      	<%= will_paginate @exceptions, :params => {:controller => 'exceptions', :action => 'list_statuswise_exceptions', :app_name => @application_name, :status_name => status_name} %>
      </td>
    </tr>    
  </table>

<%else%>
  <% if current_status == OPEN_EXCEPTION %>
    No open exceptions currently for this application.
	<% elsif current_status == CLOSED_EXCEPTION %>
	  No closed exceptions currently for this application.
	<% elsif current_status == IGNORED_EXCEPTION %>
	  No ignored exceptions currently for this application.
	<% end %> 
<%end%>
