<%#
# WebROaR - Ruby Application Server - http://webroar.in/
# Copyright (C) 2009  Goonj LLC
#
# This file is part of WebROaR.
#
# WebROaR is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# WebROaR is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with WebROaR.  If not, see<http://www.gnu.org/licenses/>.
#
%>
<div class='text_align_right'><%=link_to_remote 'Back',:update => 'data_div', :url => {:controller => 'exceptions', :action => 'show',:id => @exception.id, :app_name => app_name, :status_name => status_name, :page => page }%></div>
<table width = 90% style = "word-wrap: break-word;"  align='center'>
  <tr>
    <th  colspan=2>Environment (<%= @exception.exception_details[index].wall_time.strftime("%d-%b-%Y - %H:%M:%S")%>)  </th>
  </tr>
  <tr>
    <td class="sub_header">CHUNKED</td>
    <td><%= @exception.exception_details[index].chunked%></td>
  </tr>
  <tr>
    <td class="sub_header">CONTENT_LENGTH</td>
    <td><%= @exception.exception_details[index].content_length%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_ACCEPT</td>
    <td><%= @exception.exception_details[index].http_accept%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_ACCEPT_CHARSET</td>
    <td><%= @exception.exception_details[index].http_accept_charset%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_ACCEPT_ENCODING</td>
    <td><%= @exception.exception_details[index].http_accept_encoding%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_CONNECTION</td>
    <td><%= @exception.exception_details[index].http_connection%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_COOKIE</td>
    <td><div style="width:630px;overflow-x:auto;"><%= @exception.exception_details[index].http_cookie%></div></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_HOST</td>
    <td><%= @exception.exception_details[index].http_host%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_KEEP_ALIVE</td>
    <td><%= @exception.exception_details[index].http_keep_alive%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_USER_AGENT</td>
    <td><%= @exception.exception_details[index].http_user_agent%></td>
  </tr>
  <tr>
    <td class="sub_header">HTTP_VERSION</td>
    <td><%= @exception.exception_details[index].http_version%></td>
  </tr>
  <tr>
    <td class="sub_header">PATH_INFO</td>
    <td><%= @exception.exception_details[index].path_info%></td>
  </tr>
  <tr>
    <td class="sub_header">QUERY_STRING</td>
    <td><%= @exception.exception_details[index].query_string%></td>
  </tr>
  <tr>
    <td class="sub_header">REMOTE_ADDR</td>
    <td><%= @exception.exception_details[index].remote_addr%></td>
  </tr>
  <tr>
    <td class="sub_header">REQUEST_METHOD</td>
    <td><%= @exception.exception_details[index].request_method%></td>
  </tr>
  <tr>
    <td class="sub_header">REQUEST_PATH</td>
    <td><%= @exception.exception_details[index].request_path%></td>
  </tr>
  <tr>
    <td class="sub_header">REQUEST_URI</td>
    <td><%= @exception.exception_details[index].request_uri%></td>
  </tr>
  <tr>
    <td class="sub_header">SCRIPT_NAME</td>
    <td><%= @exception.exception_details[index].script_name%></td>
  </tr>
  <tr>
    <td class="sub_header">SERVER_NAME</td>
    <td><%= @exception.exception_details[index].server_name%></td>
  </tr>
  <tr>
    <td class="sub_header">SERVER_PORT</td>
    <td><%= @exception.exception_details[index].server_port%></td>
  </tr>
  <tr>
    <td class="sub_header">SERVER_PROTOCOL</td>
    <td><%= @exception.exception_details[index].server_protocol%></td>
  </tr>
  <tr>
    <td class="sub_header">SERVER_SOFTWARE</td>
    <td><%= @exception.exception_details[index].server_software%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.errors</td>
    <td><%= @exception.exception_details[index].rack_errors%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.input</td>
    <td><%= @exception.exception_details[index].rack_input%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.multiprocess</td>
    <td><%= @exception.exception_details[index].rack_multiprocess%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.multithread</td>
    <td><%= @exception.exception_details[index].rack_multithread%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.run_once</td>
    <td><%= @exception.exception_details[index].rack_run_once%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.url_scheme</td>
    <td><%= @exception.exception_details[index].rack_url_scheme%></td>
  </tr>
  <tr>
    <td class="sub_header">rack.version</td>
    <td><%= @exception.exception_details[index].rack_version%></td>
  </tr>
  <tr><th colspan=1 >&nbsp;<th></tr>
</table>
<div class='text_align_right'><%=link_to_remote 'Back',:update => 'data_div', :url => {:controller => 'exceptions', :action => 'show',:id => @exception.id, :app_name => app_name, :status_name => status_name, :page => page }%></div>