<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

  <div id = 'reload'><%=link_to_remote 'Back', :url => {:controller => 'exceptions', :action => 'list_statuswise_exceptions', :app_name => app_name, :status_name => status_name, :page => page }%></div>
  <table width = 90% cellpadding = 5px style = "word-wrap: break-word;">
    <tr>
      <td width = 15%><b>Exception:-</b></td>
      <td><%=h @excep.exception_message%></td>
    </tr>
    <tr>
      <td><b>Class :-</b></td>
      <td><%=h @excep.exception_class%></td>
    </tr>
    <tr>
      <td><b>URL :-</b></td>
      <td><%=h @excep.controller%>/<%=h @excep.method%></td>
    </tr>
    <tr>
      <td><b>Occurrences :-</b></td>
      <td><%=h @exceptions.size%></td>
    </tr>
    <% @exceptions.each do |exception| %>
	    <tr>
	      <td>&nbsp;</td>
				<% if exception.id == @excep.id %>
	      <td  class = 'exception_wall_time'>
	      <% else %>
				<td>
				<% end %>
				<%= link_to_remote "#{h exception.wall_time.strftime("%d-%b-%Y %H:%M:%S")}", :before => 'updateTdCSS(this)', :update => 'exception_detail', :url => {:controller => 'exceptions', :action => 'show_exception_detail', :id => exception.id }%></td>
	    </tr>
    <% end %>
	</table>
	<div id = 'exception_detail'>
  <%= render :partial => 'exception_detail' %>
	</div>
  <br/>
  <br/>
  <div id = 'reload'><%=link_to_remote 'Back', :url => {:controller => 'exceptions', :action => 'list_statuswise_exceptions', :app_name => app_name, :status_name => status_name, :page => page }%></div>
