<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id = 'container_graphs_data'>
	<br/>
	<div id = "page_name"><%=image_tag("tit_exceptions_ad.gif")%></div>
	<br/>
  <%if @application_name.nil?%>
    <div id = 'exceptions_listing_div' style = "min-height:590px;">
      <%=NO_DEPLOYED_APPLICATION_MESSAGE%><br/> Please use <%=link_to 'Configuration',:controller=>'admin',:action=>'configuration'%> tab to deploy applications.
    </div>  
  <%else%>
	  <center><div id = 'reload'>Select Application: <%=select :application, :name, @apps, :selected => @application_name%></div></center>
	  <div id = 'exceptions_listing_div'>
		   <%=render :partial => 'exceptions_listing_partial'%>
	  </div>
	  <br>
	  <%= observe_field 'application_name', :update => 'exceptions_listing_div', :url => {:controller => 'exceptions', :action => 'list' }, :with => 'application_name'%>
  <%end%>
</div>
