<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->


    <br/>
    <div id = "page_name"><%=image_tag("tit_settings_ad.gif", :border => '0')%></div>
    <br/><br/>
    <%form_for :password, :url => {:action => 'change_password'}, :html => { :onsubmit => 'return validate_password(this)'} do%>
      <table width = 50%>
        <tr>
          <th colspan = 2 >Change Password</th>
        </tr>
        <tr>
          <td colspan = 2 id = 'error_div' style="padding:0px;"><%if(flash[:notice])%><%=flash[:notice]%><%end%></td>
        </tr>
        <tr>
          <td  width = 50% >Old Password<span id = 'needed'>*</span></td>
          <td ><%=password_field :password, :old, :size => 20, :value => ""%></td>
        </tr>
        <tr>
          <td >New Password<span id = 'needed'>*</span></td>
          <td ><%=password_field :password, :new, :size => 20%></td>
        </tr>
        <tr>
          <td >Confirm Password<span id = 'needed'>*</span></td>
          <td ><%=password_field :password, :confirm, :size => 20%></td>
        </tr>
        <tr>
          <td colspan = 2 align='center'><br/><%=submit_tag 'Save'%></td>
        </tr>
      </table>
    <%end%>

