<!--
WebROaR - Ruby Application Server - http://webroar.in/
Copyright (C) 2009  Goonj LLC

This file is part of WebROaR.

WebROaR is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WebROaR is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WebROaR.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id = 'container_data'>
  <br/>
  <div id = "page_name"><%=image_tag("tit_home_ad.gif")%></div>
  <br/>
  <div class = "text_align_center">
    <table width = 95%  border = 0 cellpadding = "4">
      <tr>
        <td  class = "table_header" colspan = 2> Server Snapshot </td>
      </tr>
      <tr>
        <td  class = 'BG_dark_gray'>CPU Usage</td>
        <td  class = 'BG_dark_gray'><span id = 'server_cpu_usage'><%="%.2f" % @server_resource_usage[0]%></span> %</td>
      </tr>
      <tr>
        <td  class = 'BG_white'>Memory Usage</td>
        <td  class = 'BG_white'><span id = 'server_memory_usage'><%=format("%.2f",@server_resource_usage[1]/1024.to_f)%></span> MB</td>
      </tr>
    </table>
    <br/><br/>
    <table width = 95%  border = 0 cellpadding = "4">
      <%if @info and @info['Application Specification']%>						
        <tr>
          <td  class = "table_header" colspan = 6>Deployed Applications</td>
        </tr>
        <tr>
          <td class = "sub_header" width = "25%">Application Name</td>
          <td class = "sub_header" width = "15%">CPU Usage</td>
          <td class = "sub_header" width = "15%">Memory Usage</td>
          <td class = "sub_header" width = "15%">Minimum Workers</td>
          <td class = "sub_header" width = "15%">Maximum Workers</td>	
          <td class = "sub_header" width = "15%">New Exceptions</td>	
        </tr> 	
        <%=application_list_home%>		
      <%else%>
        <tr>
          <td  class = "table_header" colspan = 5>&nbsp;</td>
        </tr>
        <tr>
          <td colspan = 5 align = center class = 'header'><%=NO_DEPLOYED_APPLICATION_MESSAGE%><br/> Please use <%=link_to 'Configuration', :controller => 'admin', :action => 'configuration'%> tab to deploy applications.</td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

<% if (@info['Application Specification'])%>
  <%i = 0%>
  <%while(@info['Application Specification'][i])%>
    <%= periodically_call_remote( :update => "#{@info['Application Specification'][i]['name']}_cpu", :url => { :controller => 'admin', :action => 'get_latest_app_cpu_usage', :app_name => @info['Application Specification'][i]['name']}, :frequency => 60)%>
    <%= periodically_call_remote( :update => "#{@info['Application Specification'][i]['name']}_memory", :url => { :controller=>'admin',:action => 'get_latest_app_memory_usage', :app_name => @info['Application Specification'][i]['name']}, :frequency => 60)%>
    <%= periodically_call_remote( :update => "#{@info['Application Specification'][i]['name']}_exception", :url => { :controller=>'exceptions',:action => 'get_exception',:app_name=>@info['Application Specification'][i]['name']},
      :frequency => 60)%>
    <%i += 1%>
  <%end%>	
<%end%>
<%= periodically_call_remote( :update => 'server_cpu_usage', :url => { :controller => 'admin', :action => 'get_latest_server_cpu_usage'}, :frequency => 60)%>
<%= periodically_call_remote( :update => 'server_memory_usage', :url =>{ :controller => 'admin', :action => 'get_latest_server_memory_usage'}, :frequency => 60)%>
